# Generate a random string, or roll your face on the keyboard to fill this value:
SESSION_SECRET=

# Get this on the Pi Developer Portal (develop.pi in the Pi Browser)
PI_API_KEY=

# Pi network seed
SEED_PI=seed-key

# Platform API
PLATFORM_API_URL=https://api.minepi.com

# MongoDB database connection details:
MONGO_URI=

# Frontend app URL
FRONTEND_URL=http://localhost:3314

MORALIS_API_KEY=

#AWS
AWS_REGION=
AWS_SES_ID=
AWS_SES_SECRET=

# Payment Gateway
PAYMENT_GATEWAY_URL=
PAYMENT_URL=

# Google API Key
GOOGLE_API_KEY=